# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/data/*.db
backend/*.db
backend/tests/*.db
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store

# IDE
.vscode/
.idea/
